.card {
  width: 400px;
  border: 1px solid lightgray;
  background-color: #1B2731;
  box-shadow: 0px 0px 3px 3px #adb8c2;

  background: rgb(58, 88, 113);
  background: radial-gradient(circle, rgba(58, 88, 113, 1) 0%, rgba(60, 102, 136, 1) 73%, rgba(62, 84, 102, 1) 100%);
}

.card img {
  /* height: 200px; */
  object-fit: cover;
  object-position: 50% 10%;
}

.card-content {
  padding-top: 5px;
}

.card-body {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr 2.3em;
}

.card-title {
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.card-text {
  margin: 0;
}

.card-text--bold {
  font-weight: bold;
}

.card-title {
  text-align: center;
}