.cardGroup {
    overflow-x: scroll;
}
.cardGroup__content {
    display: flex;
    gap: 2em;
    padding: 1em 0;
}

.cardGroup__content .card {
    /* box */
    height: 400px;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}