.cardGroup {
    overflow-x: scroll;
    background-color: white;
    position: relative;
    background-color: #151516;
    border: 1px solid white;
}

.cardGroup__content {
    display: flex;
    gap: 2em;
    padding: 1em 0;
}

.cardGroup__content .card {
    /* box */
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.cardGroup__title {
    position: sticky;
    left: 0;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
}