* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h2 {
  margin-bottom: 0;
}

.logo {
  height: 3em;
  margin: 0;
}

.delete-button {
  border: none;
  background-color: transparent;
}

.hr {
  height: 0.1em !important;
  background-color: red;
}

body {
  background-image: url('https://i.pinimg.com/originals/fb/2d/19/fb2d193eeacd7483b652d86d155112d8.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.highlight {
  color: #f9b424;
}

.header+.container {
  min-height: 91.5vh;
}

.centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}